.section {
    display: flex;
    overflow: hidden;
}
.item {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}
.item:hover {
    background-color: blueviolet;
}
.filter-point {
    text-align: center;
}
.filter-scroll {
    width: 600px;
    max-height: 600px;
    overflow: auto;
}
.form-names {
    display: flex;
}
.input-point {
    display: flex;
    flex-direction: column;
}
.dates {
    display: flex;
}
.form-scroll {
    width: 200px;
    max-height: 250px;
    overflow: auto;
    text-align: center;
}
.form-scroll p {
    cursor: pointer;
}
.form-scroll p:hover {
background-color: blueviolet;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* .header {
    display: flex;
    justify-content: space-around;
}
.block {
    display: grid;
    width: 25%;
    padding-top: 30px;
}

button {
    background-color: rgb(240, 240, 240);
    border: .5px solid black;
    cursor: pointer;
}

.dropdown-item {
    border: 1px solid black !important;
}

.btn-secondary {
    background-color: rgb(240, 240, 240)!important;
    color: black !important;
    border-radius: 0 !important;
}

.filter{
    justify-content: space-between;
}
.filter-btn {
    display: flex;
    justify-content: space-evenly;
}
.filter h2 {
text-align: center;
} */

